@import url('https://rsms.me/inter/inter.css');

@import "highlight.js/styles/tomorrow-night.css";

.toc li a {
    @apply flex items-center py-2 text-sm leading-5 text-gray-600 transition ease-in-out duration-150;
}

.toc li a:hover {
    @apply underline;
}

.toc li a:focus {
    @apply outline-none underline;
}

.toc li > ul > li {
    @apply pl-4;
}
